 

# Node modules
node_modules/

# Compiled output
out/
dist/

# VSCode config
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package locks (optional, if you don’t want lockfile in repo)
package-lock.json
yarn.lock

# VSIX packaged extension
*.vsix
